
.nav{
    
    background-color: #29606b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 
.menu-1{
    li{
        font-size: 25px;
        line-height: 20px;
        a{
            color: $white;
        }
    }
}



.menu-2{
    @include medium{
        display: none;
    }
    display: flex;
    margin-right: 118px;
        li{
            
            margin-left: 35px;
            font-size: 17px;
            line-height: 5px;
            a{
                color: $white;
            }
        }
}